<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Contact|Portfolio</title>
</head>
<body>
    <% if (contact) { %>
        <form action="/contacts/private/update/<%= contact.id %>" method="post">
            <label for="name">Name:</label> <br>
            <input type="text" name="name" id="" value="<%= contact.name %>" required> <br>
            <label for="email">Email:</label> <br>
            <input type="text" name="email" id="" value="<%= contact.email %>" required> <br>
            <label for="phone">Phone:</label> <br>
            <input type="text" name="phone" id="" value="<%= contact.phone %>" required> <br>
            <label for="address">Address:</label> <br>
            <input type="text" name="address" id="" value="<%= contact.address %>" required> <br>
    
            <button type="submit">Update</button>
        </form>
    <% } %>
</body>
</html>